.parentwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newyorkfavoritelink {
    text-decoration: none;
    font-family: beatrice-medium;
    color: #142800;
}

#trailsIndexWrapper{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding-bottom: 20px;
}

#newyorkfavorite {
    margin-right: 15%;
}

#TrailIndexHeader{
    color: #142800;
    font: 28px;
    margin: 0px 16px;
    padding-top: 48px;
    font-family: beatrice-medium;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    font-style: normal;
    margin-right: 1000px;
    padding-top: 40px;
    text-decoration: none;


}

#showIndexBoxContent {
    margin-bottom: 16px; 
    margin-left: 16px; 
    line-height: 24px;
    color: #142800;
    font-size: 16px;
    font-weight: 700;
}

#homepageimag{
    max-width: 100%;
    height: auto;
}

#showIndexBoxLink{
    padding-top: 15px;
    text-decoration: none;
}

#splashFooter{
    max-width: 100%;
    height: 300px;
    background-color: #142800;
}


/* #splashbackground {
    max-width: 100%;
    height: 80%;
} */

#showIndexBox {
    margin-left: 14px;
    border: 2px solid lightgrey;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    border-radius: 20px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; 
    height: 246px; 
}

#showIndexBox img {
    width: 100%;
    height: 100%; 
    border-radius: 20px;
}

#showIndexBox:hover{
    border: 2px solid black;
}

#showIndexBoxContent {
    margin-bottom: 16px; 
    margin-left: 16px; 
    line-height: 24px;
    color: #142800;
    font-size: 16px;
    font-weight: 700;
}


.trailsindexfooter {
    background-color: #142800;
    height: 200px;
    margin-top: 5%;
}

.splash-container {
    position: relative;
    width: 100%; 
}

#splashbackground {
    width: 100%;
    height: auto; 
    display: block; 
}

#search-bar-splash .search-bar input {
    padding: 24px 24px;
    font-size: 18px;
    border-radius: 30px;
    width: 70vw;
    max-width: 500px;
}



.container-search-welcome {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: absolute; 
    top: 35%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    z-index: 10;
}

#text-top-of-search h1 {
    font-size: 60px; 
    color: #FFF; 
    margin-bottom: 20px;
    font-family: beatice-medium;
}

#explore-link {
    text-align: center; 
    margin-top: 20px; 
    font-family: manrope-medium; 
    font-size: 18px; 
}

#explore-link a {
    color: #fff; 
    font-weight: bold; 
}


