#rating-review{
    font-family: manrope-medium;
    padding-bottom: 5px;
    font-size: 50px;
    text-align: center;
    margin-left: 5%;
}
#review-number{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    font-family: manrope-medium;
    color: #142800;
    padding-bottom: 5px;
    margin-left: 5%;
}

#average-rating-review{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    font-family: manrope-medium;
    color: #142800;
    padding-bottom: 5px;
    margin-left: 5%;
}



#span-star{
    color: rgb(119,243,123);
    font-family: manrope-medium;
}

#span-number{
    color: #142800;
    font-family: manrope-medium;
}

#rating-distribution{
    margin-left: 5%;
}

#rating-component-review{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    margin-left: 5%;
}

.rating-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.rating-bar-container span {
    margin-right: 10px;
}

.rating-bar {
    height: 10px;
    background-color: rgb(119,243,123); /* Example color */
    margin: 0 5px;
    border-radius: 10px;
}


.rating-bar-container {
    width: 100%;
    border-radius: 5px;
}

.parent-average-rating-review {
    display: flex;
    justify-content: left; 
    align-items: flex-start; 
    gap: 10px; 
    padding: 10px; 
}

#avg-rating-review-parent, #rating-distribution {
    flex: 1; 
}
#rating-review, #review-number, #average-rating-review, #rating-component-review {
    margin-left: 0; 
    text-align: center; 
}
