
.rate i {
    font-size: 30px;
    color: #dbdad2;
    text-shadow: none;
    transition: color 200ms, text-shadow 200ms;
    transition-delay: 0;
    cursor: pointer;
}

.rate i.filled {
    color: #64f67b;
}

.rate:hover i {
    color: #64f67b;
}

.rate i:hover ~ i {
    color: #dbdad2;
    text-shadow: none;
}