.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#homeicon {
    margin-right: 8px;
    height: 30px;
}

#home{
    color: rgb(20,40,0);
    text-decoration: none;
    font-weight: light;
    font-size: 26px;
    font-family: manrope-medium;

}
.navlogin {
    padding: 11px 15px;
    text-decoration: none;
    color: black;
    background-color:  rgb(237,237,236);
    border-radius: 25px; 
    font-family: manrope-medium;
    font-size: 13px;
    font-weight: 600;
}
.navlogin:hover{
    background-color: #d7d7d4;
}

#demologin {
    padding: 11px 15px;
    text-decoration: none;
    color: black;
    border: #64f67b;
    background-color:  #64f67b;
    border-radius: 25px; 
    font-family: manrope-medium;
    font-size: 13px;
    font-weight:600;
    display: inline-block;
    margin-right: 5px;
}

#demologin:hover {
    background-color: #5beb69;
}
