.links {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 20px;
}

#home{
    color: rgb(20,40,0);
    text-decoration: none;
    font-weight: bold;
    font-size: larger;

}
.login1 {
    padding: 11px 15px;
    text-decoration: none;
    color: black;
    background-color:  rgb(237,237,236);
    border-radius: 25px; 
    font: Manrope,Arial,sans-serif;
    font-size: 13px;
    font-weight:550;
}
.login1:hover{
    background-color: #d7d7d4;
}

#demologin {
    padding: 11px 15px;
    text-decoration: none;
    color: black;
    border: #64f67b;
    background-color:  #64f67b;
    border-radius: 25px; 
    font: Manrope,Arial,sans-serif;
    font-size: 13px;
    font-weight:550;
    display: inline-block;
    margin-right: 5px;
}

#demologin:hover {
    background-color: #5beb69;
}
/* 
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}



#home {
    color: rgb(20,40,0);
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

.login1 {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: forestgreen;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.login1:hover {
    background-color: darkgreen;
} */