.profile-button {
    padding-right: 8px;
    color: black;
}

#profile-icon {
   height: 40px;
   border-radius: 50px;
}

#logout {
    padding: 15px;
}

.profile-dropdown{
    background-color: white;
    box-sizing:content-box;
    position: absolute;
    border: 1px inset rgb(0,0,0);
    width: 100px;
    max-width: 80%;
    height: 50px;
    z-index: 1;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content:flex-start;
    margin-left: -60px;
    cursor: pointer;
    font-family: manrope-medium;
}



/* .profile-button{
    padding-right: 15px;
}

.profile-dropdown{
    background-color: white;
    box-sizing:content-box;
    position: absolute;
    border: 1px solid rgb(0,0,0,0.05);
    width: 100px;
    max-width: 80%;
    height: 50px;
    z-index: 1;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    align-items: left; 
    justify-content:flex-start; 
    left: 90%;
} */

.profile-dropdown:hover{
    background-color: #f0f0f0;
}